{% extends 'base.html.twig' %}

{% block title %}Hello LandController!{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Continent naam</th>
                        <th scope="col">landen</th>

                    </tr>

                    </thead>
                    <tbody>
                    {% for landen in land %}
                        <tr>
                            <td>
                                {{ landen.name }}

                            </td>
                            <td>
{#                                <a class="btn btn-primary" href="{{ path('land',{id: continents.id}) }}">Landen</a>#}
                            </td>
                            <td>
                                <a class="btn btn-warning" href="{{ path('delete',{id: landen.id}) }}">Delete</a>
                            </td>
                            <td>
                                <a class="btn btn-dark" href="{{ path('insert') }}">insert</a>
                            </td>
                        </tr>


                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {#            <a class="btn btn-dark" href="{{ path('insert') }}"></a>#}
        </div>
    </div>
{% endblock %}